@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    background-color: #0C2923;
    color: #f4f2e0;
    line-height: 1.5;
    padding: 0%;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

.container {
   width: 80%;
   margin:auto;
   overflow: hidden; 
   text-decoration: none;
}

.Basictext {
   width: 80%;
   margin:auto;
   overflow: hidden; 
   font-family: 'Playfair Display', serif;
   font-size: 30px;
   line-height: 1;
   margin-left: 20%;
   padding-top: 10%;
}


#nav {
    background-color: #0C2923;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Push the contents to the right */
    padding-right: 5%;
    padding-top: 10px;
}

nav li {
    margin-right: 20px; /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    color: #f4f2e0;
    padding: 10px 3px;
    display: block;
    font-size: 20px;
    position: relative;
}

nav a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #f4f2e0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 50%;
}

/* CSS for the container */
.featured.project {
    /* display: flex; */
    background-color: #f4f2e0;
    font-family: 'Playfair Display', serif;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
  }
  
  /* CSS for the left section (text) */
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    color: #0C2923;
  }
  
  .left-section h2 {
    font-family: 'Playfair Display', serif;
  }
  

  .btns-container {
    margin-top: 25px;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
  }
  
  /* CSS for the buttons */
  .btn {
    padding: 10px 20px;
    background-color: #0C2923;
    color: #f4f2e0;
    border: none;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #0C2923 !important; 
    font-family: 'Work Sans', sans-serif;
  }
  
  /* CSS for the right section (image) */
  .right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .right-section img {
    max-width: 100%;
    height: 400px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    object-fit: cover;
  }
  
  .left-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 34px; /* Adjust the font size to your preference */
    margin-top: 0%; /* Add some space below the h2 element */
    text-align: center;
  }

  .left-section h4 {
    font-family: 'Playfair Display', serif;
    color: #0C2923;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
  }

  .title {
    color: #0C2923; /* Set the text color */
    font-family: 'Work Sans', sans-serif;
    margin-top: 3%;
    line-height: 1.5;
  }


  .image.main {
    display: block;
    margin: 4rem 0;
    width: 100%;
}

#intro {
    color: #f4f2e0;
    margin-top: 10%;
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    margin-left: 40%;
}

#textonportfolio {
    color: f4f2e0;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-left: 37%;
}

#main {
    background-color: #f4f2e0;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    color: #0C2923;
}

.Featuredposts {
display: flex;
flex-wrap: wrap;
align-items: stretch;
text-align: center;
width: 100%;
padding: 0%;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 9%;
    /* flex-wrap: wrap; */
}

.about-col-1 img{
    width: 395px;
    height: 525px;
    border: solid 4px white;
    object-fit: cover;
}

.Aboutmeheading {
  color: #f4f2e0;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  text-align: center;
  padding: 0%;
  
}

.about-col-2 {
  color: #f4f2e0;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.5;
  text-align: justify;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #f4f2e0;
}

.tab-titles{
    display: flex;
    margin: 20px 0 ;
    color: #0C2923;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0C2923;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents {
    color: #0C2923;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0C2923;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.contact-left{
    flex-basis: 35%;
  }
  .contact-right{
    flex-basis: 60%;
  }
  .contact-right .top-section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .contact-left p{
    margin-top: 30px;
  }
  .contact-left p i{
    color: #f4f2e0;
    margin-right: 15px;
    font-size: 25px;
  }
  
  .social-icons{
    margin-top: 30px;
  }
  .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
  .social-icons a:hover{
    color: #f4f2e0;
    transform: translateY(-5px);
  }
  .btn.btn2{
    display: inline-block;
    background: #0C2923;
    color: #f4f2e0;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
    align-items: center;
    
  }
  .btn.btn2 .viewBtn {
    color: #f4f2e0;
    text-decoration: none;
  }
  .btn.btn2 .viewBtn:hover {
    color: #f4f2e0;
    font-size: 20px;
  }
  .btn.btn2 .viewBtn {
    border-radius: 5px;
    width: 165px;
    padding: 0;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-right form{
    width: 100%;
  }
  form input, form textarea{
    width: 95%;
    border: 0;
    outline: none;
    background: #f4f2e0;
    border: 1px solid #f4f2e0;
    padding: 15px;
    margin: 15px 0;
    color: #0C2923;
    font-size: 16px;
    border-radius: 6px;
    font-family: 'Playfair Display', serif;
  }
  form input {
    width: 48%;
  }
  form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  }

  .skills-container {
    background-color: #f4f2e0;
    padding: 10px 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height: 400px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #0C2923;
    line-height: 1.5;
  }

  /* Apply specific styles to the span element inside the li */
#skills li span {
  font-size: 18px; 
  font-family: 'Playfair Display', serif;
  color: #0C2923; 
  text-decoration: none;
  padding-top: 5%;
}

/* Apply specific styles to the text inside the li */
#skills li {
  font-size: 14px; 
  color:#0C2923;
  font-family: 'Work Sans', sans-serif;
}

/* Style for the list items */
.tab-contents ul li {
  margin-bottom: 10px; /* Add some space between list items */
}

/* Style for the year span */
.tab-contents ul li span:nth-child(2) {
  color: #6a687a; /* Blue color for the year */
  font-weight: bold; /* Bold font weight for the year */
}

/* Style for the job title */
.tab-contents ul li span {
  font-weight: bold; /* Bold font weight for the job title */
}

/* Style for the company name */
.tab-contents ul li span:nth-child(3) {
  color: #28a745; /* Green color for the company name */
}
