:root {
    --main-color: #FAFAFA;
    --primary-color: #402354;
    --accent-color: #CE5374;
    --text-color: #222222;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--primary-color);
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    background-color: var(--primary-color);
    align-items: stretch;
    padding: 0 4rem;
}

.navigation h1 {
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    align-self: center;
}

.navigation nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation ul {
    padding: 0;
    margin: 0;
    align-self: stretch;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navigation ul li {
    display: inline;
    align-self: center;
}

.navigation ul li a {
    vertical-align: middle;
    color: var(--main-color);
    text-decoration: none;
    transition: all 0.3s;
}

.navigation ul li a:hover {
    text-decoration: underline;
    font-style: oblique;
}

section {
    background-color: var(--main-color);
    color: var(--text-color);
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px 0 var(--accent-color);
}

section.hero-section {
    font-family: 'Playfair Display', serif;
    background: transparent;
    color: var(--main-color);
    font-weight: 500;
    margin: 0;
    background: linear-gradient(0.45turn, var(--accent-color), var(--primary-color) 40%, transparent);
    background-size: cover;
    box-shadow: none;
}

section.hero-section h1 {
    font-size: 2rem;
}

section.hero-section p {
    font-size: 1.5rem;
    max-width: 50ch;
}

section.two-column {
    display: grid;
}

section.two-column.right {
    grid-template-areas: "left-half" "right-half";
}